
.header{
    text-align: center;
    padding: 20px 0;
}
.logo img{
    height: 50px;
    margin-bottom: 10px;
}
.header nav{
    background-color: rgb(78, 3, 78);
    padding: 17px 10px;
   
}
.header nav a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    padding: 17px 10px;
}
.header nav a:hover{
    background-color: rgba(240, 248, 255, 0.836);
    color:rgba(78, 3, 78, 0.973);
 
}